* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }
body {
    background:  rgb(247, 110, 95);
}
header {
    display: flex;
    background: rgb(165, 211, 230);
    height: 15vh;
    color: rgb(247, 110, 95);
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}
header h1 {
    font-size: 50px;
    padding: 10px;
    
}
header h2 {
    padding: 10px;
    cursor: pointer;
}
.instructions-container {
    display: flex;
    color: rgb(165, 211, 230);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
}
.instructions-container h2 {
    padding-bottom: 20px;
    font-size: 35px;
}
.instructions-container pre{
    padding-bottom: 20px;
    font-size: 20px;
}
button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: rgb(165, 211, 230);
  background: rgb(180, 179, 179);
  color: rgb(247, 110, 95);
}
body #quiz {
    display: flex;
    justify-content: center;
    
}
body #r-or-w {
    display: flex;
    justify-content: center;
}
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh; 
    width: 90vh;
    background: rgb(211, 209, 209);
}
.displayed-q {
   font-size:35px;
   margin: auto;
   color: rgb(95, 170, 202);
   font-weight: bold;
}
.answers {
    width: 400px;
    height: 100px;
    border: rgb(165, 211, 230) 5px solid;
    color: rgb(180, 179, 179);
    background: rgb(247, 110, 95);
}#r-or-w {
    border-top: black 2px solid;
    width: 70vh;
    justify-content: center;
}